<div class="my-nav">
    <div class="v-spacer"></div>
    <div class="jumbotron">
        <h1>Edit and Update Restaurent</h1>
    </div>
    <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Weldone!</strong> Your Data updated successfully!
        <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="editRestaurent" (ngSubmit)="updateResto()">
        <div class="form-group">
            <label>Name</label>
            <input formControlName="name" type="email" class="form-control" placeholder="Enter Name ">
        </div>
        <div class="form-group">
            <label>Address</label>
            <input formControlName="Address" type="email" class="form-control" placeholder="Enter Address ">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input formControlName="Email" type="email" class="form-control" placeholder="Enter Email">
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input formControlName="Phone" type="email" class="form-control" placeholder="Enter Phone number ">
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
